
*.dvc
intermediary-data/notes2diagnosis-icd-test.json.gz
intermediary-data/notes2diagnosis-icd-train.json.gz
data/intermediary-data/filtered_notes/NOTEEVENTS.FILTERED.csv.gz
# *.txt
data/intermediary-data/xbert_inputs/Y.trn.npz
*.npz
data/intermediary-data/notes2diagnosis-icd-test_df
data/intermediary-data/notes2diagnosis-icd-train_df
*.gz
*.0
*.ckpt
data/intermediary-data/filtered_notes/NOTEEVENTS.FILTERED.csv
data/mimiciii-14/NOTEEVENTS.csv
*.csv
filtered_all_notes_val.raw
*.raw
*.zip
# download_and_unzip_mimicdata.sh
data/filtered_all_notes_train.txt
data/filtered_all_notes_val.txt
data/physionet.org/robots.txt
data/filtered_all_notes_SAMPLE.txt
testing.ipynb
.DS_Store
*.pdf
